@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
:root{
    --main :#fff;
}
html{
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
html::-webkit-scrollbar{
    width: 10PX;
    overflow-x: hidden;
}
html::-webkit-scrollbar-thumb{
    background: black;
    height: 50PX;
    border-radius: 5PX;
}
html::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.5);
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(sun1.jpg);
    background-size: cover;
    background-position: top center;
    
}
.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom ,rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    display: none;
	
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50PX 15PX 15PX;
}
header input{
width: 100%;
max-width: calc(100% / 3);
padding: 20PX 15PX;
border-radius: 16PX 0;
border: none;
outline: none;
appearance: none;
font-size: 30PX;
background-color: rgba(255, 255, 255, 0.3);
color: #313131;
box-shadow: 0 10PX rgba(0,0,0,0.3);
font-weight: 600;
transition: all  0.5s ease-in-out;
animation: input 3s ease-in-out;
}
header input:focus{
border-radius: 0 16PX;
background-color: rgba(255, 255, 255, 0.8);
}

main{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25PX 25PX 50PX;

}
.location .city{
color: var(--main);
font-size: 45PX;
font-weight: 900;
margin-bottom: 5PX;
animation: city 3s ease;
border-radius: 10PX;
background: black;
}
.location .date{
    color: var(--main) ;
    font-size: 16PX;
    animation: date 3s ease-in-out;
}
.current .temp{
color: var(--main);
font-size: 102PX;
font-weight: bolder;
margin: 30PX 0;
text-shadow: 2PX 12PX rgba(0,0,0,0.3);
border-radius: 5PX;
border-bottom: 5PX solid #001;
animation-fill-mode: both;
animation-play-state: running;
animation-direction: alternate;
animation: temp 6s infinite ease-in-out;
}
.current .temp span{
    font-weight: 500;
}
.current .weather{
    color: var(--main);
    font-size: 32PX;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 15PX;
    text-shadow: 3PX 10PX rgba(0,0,0,0.3);
    animation: weather 3s ease-in;
}
.current .hi-low{
    font-weight: 800;
    color: var(--main);
    font-size: 24PX;
    text-shadow: 2PX 4PX rgba(0,0,0,0.3);
    animation: hilow 5s linear;
}



@media (max-width:767PX) {
    header input{
        height: 25PX;
        width: 200PX;
        }
       /* 
        .location .city{
            font-size: 25PX;
            font-weight: 600;
        }
        .current .temp{
            font-weight: 400;
            font-size: 25PX;
        }*/
    }


@keyframes input {
    0%{
        width: 0;
    }
    100%{
        width: 100%
    }
}


    @keyframes city{
       0%{
width: 0;        }
        100%{
            width: 100%;
        }
    }

    @keyframes date {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }


    @keyframes temp {
        0%{
           color:rgb(19, 212, 226) ;
        }
       10%{
           color:rgb(22, 131, 204) ;
        }
        20%{
            color:rgb(24, 88, 185) ;
         }
         30%{
            color: rgb(19, 57, 226);
         }
 
        50%{
            color:rgb(216, 72, 36) ;
        }
        60%{
            color:rgb(226, 73, 46) ;
         }
        70%{
            color:rgb(218, 60, 40) ;
         }
         80%{
             color:rgb(233, 71, 71) ;
          }
          90%{
             color: rgb(223, 52, 52);
          }
  
         100%{
             color:rgb(145, 7, 7) ;
         }
 
    }
 @keyframes weather {
     0%{
                 opacity: 0.2;
     }
     50%{
        opacity: 0.4;
     }
     75%{

        opacity: 0.8;
     }

     100%{
     opacity: 1;
     }
 }

 @keyframes hilow {
    0%{
     transform: scale(0.3);
    }
    50%{
        transform: scale(0.6);
       }
   
    100%{
    transform: scale(1);
    }
}



/*change background*/
.cold{
    background-image: url('clouds.jpg');
    background-position: top center;
    background-size: cover;

}

.sun{
    background-image: url('sun.jpg');
    background-position: top center;
    background-size: cover;
}








/*animate background*/
.box div {
    display: none;
    position: absolute;
    height: 60PX;
    width: 60PX;
    background: transparent;
    border: 6px solid rgb(255, 255, 255,0.8);
    border-radius: 50%;
    /*border-radius: 50%;
    border-bottom-left-radius: 10PX;*/
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: anime 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: anime 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: anime 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: anime 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: anime 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: anime 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: anime 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: anime 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: anime 5s linear infinite;
}

@keyframes anime {
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  } 
  100%{
    transform: scale(1.5) translateY(-90PX) rotate(360deg);
    opacity:0;

  } 
}


/*i icon*/
.hand{
    position: relative;
    top: 200PX;
    animation: none;
    cursor: none;
}

i{
    font-size: 110PX;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #dbaf1de0;
    cursor: pointer;
  border-radius: 10PX;
    border-radius: 10%;
    transition: all 2s ease-in;
    animation: icon 5s linear;
    box-shadow: 0 5PX 10PX black;
}

@keyframes icon {
    0%{
       
       opacity: 0;
      
    }
    100%{

opacity: 1;
    }
}